section > h1{
    font-size: 2.0em;
}

.spoiler-container {
}

.spoiler {
    -ms-filter: blur(8px);
    filter: blur(8px);
    transition: filter 0.1s;
}

.spoiler:hover, .spoiler:active {
    -ms-filter: blur(0px);
    filter: blur(0px);
}